<h1>Game Stock</h1>
<%for game in @games%>

<p>Name: <%=game.name()%> </p>
<p>Description: <%=game.description()%> </p>
<p>Stock: <%=game.stock()%></p>
<p>Stock Level : <%= game.stock_level()%> </p>
<p>RRP: <%=game.rrp()%> </p>
<p>Wholesale: <%=game.price()%> </p>
<p>Publisher: <%=game.publisher.name()%> </p>
<p>Theme: <%=game.theme()%> </p>
<hr>
<% end %>
