<a href="/games/new" class ="btn3"><span>New Game</span></a>
<a href="/games/table" class ="btn4"><span>Table View</span></a>

<% @games = @games.sort{|a,b| a.name<=>b.name} %>
<p>Name: <%=@games.name()%></p>
<p>Description: <%=@games.description()%></p>
<p>Stock: <%=@games.stock()%></p>
<p>RRP: <%=@games.rrp()%></p>
<p>Price: <%=@games.price()%></p>
<p>Publisher: <%=@games.publisher.name()%></p>
<p>Theme: <%=@games.theme()%></p>
<p>Profit: <%=@games.profit()%></p>
<p>Stock: <%=@games.stock_level()%></p>
