<a href="/games/new" class ="btn3"><span>New Game</span></a>
<a href="/games" class ="btn4"><span>Quick View</span></a>
<h1>Game Stock</h1>
<table id="games">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Stock</th>
    <th>RRP</th>
    <th>Wholesale</th>
    <th>Publisher</th>
    <th>Theme</th>
    <th>Profit</th>
    <th>Stock Level</th>
  </tr>
  <tr>
    <% @games.sort!{|a,b| b.stock <=> a.stock}%>
    <%for game in @games%>
    <td><%=game.name()%> <a href="/games/<%=game.id%>/edit">Edit</a> <form action="/games/<%=game.id%>/delete" method="POST">
  <button type="submit">Delete</button></td>
    <td><%=game.description()%></td>
    <td><%=game.stock()%></td>
    <td>£<%=game.rrp()%></td>
    <td>£<%=game.price()%></td>
    <td><%=game.publisher.name()%></td>
    <td><%=game.theme()%></td>
    <td>£<%=game.profit()%></td>
    <td><%=game.stock_level()%></td>
  </tr>
  <% end %>
</table>
